<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    {{>navbar}}
    <h1>This is Mu'min Manual index page.</h1>
    
    <div>
         <a href="registration"><button>Sign up</button></a>
          <a href="login"><button>Sign in</button></a>
    </div>
    
</body>
</html>