<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mu'min Manual</title>
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
     <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="title"><h1>Sign In</h1></div>
        <div class="content">
          <form action="/login" method="POST">
          <div class="user-details">
          <div class="input-box">
        <span class="email">Email ID</span>
    <input type="email" placeholder="Enter Your Email ID" name="emailid" required>
          </div>
          <div class="input-box">
    <span class="psw">Password</span>
    <input type="password" placeholder="Enter Password" name="password" required>
          </div>
    </div>  
    <div class="button">
      <input type="submit" value="Sign In">
    </div>
      <div class="sub-cont">
        <div class="img">
          <div class="img-text m-up">
            <p>Didn't register yet?<a href="registration" class="join"><b>Sign up</b>.</a></p>
          </div>
        </div>
       
        </div>
        </form>
      </div>
    </div>
        
    </div>
</body>
</html>