<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mu'min Manual</title>
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
     <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="title"><h1>Sign up</h1></div>
        <div class="content">
          <form action="/registration" method="POST">
          <div class="user-details">
          <div class="input-box">
        <span class="firstname">First Name</span>
    <input type="text" placeholder="Enter Your First Name" name="firstname" required>
          </div>
          <div class="input-box">
        <span class="lastname">Last Name</span>
    <input type="text" placeholder="Enter Your Last Name" name="lastname" required>
          </div>
          <div class="input-box">
        <span class="email">Email ID</span>
    <input type="email" placeholder="Enter Your Email ID" name="emailid" required>
          </div>
          <div class="input-box">
    <span class="contact">Contact Number</span>
    <input type="tel" placeholder="Enter Your Phone Number" name="phoneno" required>
          </div>
          
          <div class="input-box">
    <span class="address">Address</span>
    <input type="text" placeholder="Enter Your Address" name="address" required>
          </div>
          <div class="input-box">
    <span class="postalcode">Postal Code</span>
    <input type="text" placeholder="Enter Your Postal Code" name="zipcode" required>
          </div>
          <div class="input-box">
    <span class="gender">Gender</span>
    <input type="text" placeholder="Enter Your Gender" name="gender" required>
          </div>
          <div class="input-box">
    <span class="psw">Password</span>
    <input type="password" placeholder="Enter Password" name="password" required>
          </div>
          <div class="input-box">
    <span class="psw">Confirm Password</span>
    <input type="password" placeholder="Confirm Password" name="confirmpassword" required>
          </div>
    </div>  
    <div class="button">
      <input type="submit" value="Sign Up">
    </div>
      <div class="sub-cont">
        <div class="img">
          <div class="img-text m-up">
            <p>Already have an account?<a href="login" class="join"><b>Log in</b>.</a></p>
          </div>
        </div>
        
        </div>
        </form>
      </div>
    </div>
        
    </div>
</body>
</html>